# Application Base URL
NUXT_PUBLIC_BASE_URL=https://dev.cdcat.net

# API Base URL
NUXT_PUBLIC_API_BASE_URL=https://api.dev.cdcat.net

# Server Port
PORT=3210

# Authentication Token (for testing)
NUXT_PUBLIC_AUTH_TOKEN=